/* write your css here */
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
.imagewidth {
  width: 20%;
}
.imgwidth {
  width: 100%;
  height: 200px;
  border-radius: 100%;
}
.min-h-custom {
  min-height: calc(100vh - 156px);
  background-color: black;
}
/* Loader styles */
.loader {
  color: wheat;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 24px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content:"Loading..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}